$bg-white: hsla(0, 0%, 100%, 0.996);
$bg-dark-cyan: hsl(185, 75%, 39%);
$text-dark-blue: hsl(229, 23%, 23%);
$text-gray: hsl(227, 10%, 46%);
$border-light-gray: hsl(0, 0%, 59%);
$ff-kumbh-sans: "Kumbh Sans", sans-serif;
$fz-18: 18px;
h4 {
  color: $text-dark-blue;
  font-size: $fz-18;
  font-weight: 700;
  span {
    color: $text-gray;
    font-weight: 400;
  }
}
.CardMain {
  width: 21.875rem;
  min-height: 21.875rem;
  background-color: $bg-white;
  border-radius: 0.9em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  .CardMain__top_bg {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
  }
  .CardMain__bottom-profile {
    height: 130px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .bottom-profile__img {
      position: absolute;
      top: -3.4rem;
      left: 50%;
      transform: translate(-50%, 0);
      width: 100px;
      height: 100px;
      border-radius: 50%;
      padding: 0.15rem;
      border: 3px solid #ffffff;
      background-color: #ffffff;
      img {
        border-radius: 50%;
        width: 100%;
        height: auto;
      }
    }
    .bottom-profile__info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 1.8rem;

      p {
        margin-top: 0.5rem;
        color: $text-gray;
        font-weight: 400;
        font-size: 0.8rem;
      }
    }
  }
  .CardMain__bottom-sm_info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;

    .sm_info__container {
      margin: 1.5rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    span {
      color: $text-gray;
      font-weight: 400;
      letter-spacing: 1px;
      font-size: 0.6rem;
    }
  }
}

.divider {
  width: 100%;
  height: 2px;
  background-color: $border-light-gray;
  opacity: 0.15;
}
